*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.header {
    background-color:violet;
    color: white;
    display: flex;
    height: 65px;
}
.img-cover{
    margin:20px 20px;
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header-title{
    display: flex;
    align-items: center;
}
.title-text{
    font-size: 30px;
}
.navbar-main{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.btn-nav
{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.nav-list{
    list-style: none;
}
.menu-new{
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    display: flex;
}
.location-title{
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.icon-menu{
    cursor: pointer;
}
.location-title h3{
    margin-left: 15px;
}
.icon-list{
    display: flex;
    margin-left: auto;
}
.icon-list ul{
     display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    }
.icon-list ul li{
    cursor: pointer;
    padding-left: 15px;
}